@model GimmeWods.Models.RandomWod
@{
                /**/

                ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("Index", "Home"))
{

    <div class="container">
        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
            <h1 class="display-3">Welcome to JR's Workshop</h1>
            <p class="lead">A place to get fit.</p>
            @*<a href="#" class="btn btn-primary btn-lg">Call to action!</a>*@
        </header>
        <!-- Page Features -->
        <div class="row text-center">
            <div class="col-lg-6 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="/Content/Images/active-equipment-exercise-897064.jpg" alt="WOD">
                    <div class="card-body">
                        <h4 class="card-title">Gimme Wods</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer">
                        <a href="/Home/GimmeWods" class="btn btn-primary">Go To Wods page!</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="/Content/Images/action-adult-athlete-936094.jpg" alt="Combine">
                    <div class="card-body">
                        <h4 class="card-title">Combine</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer">
                        <a href="/Combine/Index" class="btn btn-primary">Go to combine page!</a>
                    </div>
                </div>
            </div>
            @*<div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Find Out More!</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Find Out More!</a>
                    </div>
                </div>
            </div>*@
        </div>
        <!-- /.row -->
    </div>

}